@import  '@fontsource-variable/eb-garamond';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html, body {
		background-color: #faf8f5;
		margin: 0;
		padding: 0;
		height: 100%;
	}
	
	html.dark, html.dark body {
		background-color: #232a2e;
	}
}

